* {
    font-family: "sedgwick ave";
    color: aliceblue;
}

header {
    background-image: linear-gradient(to right, rgb(15, 13, 87) , rgb(25, 0, 255));
    background-size: cover;
    font-weight: lighter;
    text-align: center;
    margin-top: 0px;
}

h1 {
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
    background-image: linear-gradient(to right, rgb(15, 13, 87) , rgb(25, 0, 255));
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

body {
    background-color: darkslateblue;
}

#search-side {
    font-size: x-large;
}

main {
    font-size: x-large;
}

input[type="text" i] {
    background-color: rgb(111, 100, 178);
    width: 250px;
    font-size: x-large;
}

button {
    background-color: dimgray;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10%;
    position: absolute;
    margin-left: 2px;
}

#current {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#fiveDay {
    font-size: x-large;
}

footer {
    font-size: small;
    text-align: center;
}