* {
    font-family: "sedgwick ave";
    color: aliceblue;
}

header {
    background-image: linear-gradient(to right, rgb(15, 13, 87) , rgb(25, 0, 255));
    background-size: cover;
    font-weight: lighter;
    text-align: center;
    margin-top: 0px;
}

h1 {
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
    background-image: linear-gradient(to right, rgb(15, 13, 87) , rgb(25, 0, 255));
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

aside {
    display: flex;
    align-self: start;
    align-content: flex-start;
    flex-direction: column;
}

aside hr {
    margin-left: 5px;
    width: 350px;
    height: auto;
    color: rgb(106, 101, 138);
}

.cityName {
    padding-right: 50px;
}

.today {
    padding-right: 50px;
}

body {
    background-color: darkslateblue;
}

#search-side {
    font-size: x-large;
}

main {
    font-size: x-large;
}

input[type="text" i] {
    background-color: rgb(111, 100, 178);
    width: 250px;
    font-size: x-large;
}

button {
    background-color: dimgray;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    position:absolute;
    left: 275px;
    top: 160px;
    height: 40px;
    width: 95px;
    border-radius: 10%;
 /*   padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    
    position: absolute;
    margin-left: 2px; */
}

#currentWeather {
    display: flex;
    width: 750px;
    margin-left: 400px;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: black;
    padding: 20px;
    padding-bottom: 40px;
    background-color: darkblue;
}

#current {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

span#content {
   display: flex;
}

#fiveDay {
    display: flex;
    font-size: x-large;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

section#forecast {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: stretch;
}

.box1, .box2, .box3, .box4, .box5 {
    background-color: rgb(91, 138, 249);
    color:darkblue;
    height: 266px;
    width: 250px;
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    font-size: small;
    text-align: center;
}